<h1><%= @user.fullname %></h1>
<p>Adresse : <%= @user.fulladdress %></p>
<p>Téléphone : <%= @user.phone %></p>
<p>Portable: <%= @user.mobile %></p>
<p>Email: <%= @user.email %></p>

<h2>Mes équipes 2011</h2>
